@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700,300);

body {
    font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  line-height: normal;
  color: #333;
}

.browsehappy {
  margin: .2em 0;
  padding: .2em 0;
  color: #000;
  background: #ccc;
}
.navbar {
  margin-bottom: 0;
  color: #fff;
  border-radius: 0;
  background-color: #50ae2f;
}
#section1 {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  background-color: #59c134;
}
.screenshot {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px 5px;
  padding: 20px;
}
.desparing {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 45px 5px;
  padding: 70px 40px 0;
  color: #fff;
}
.button-download {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 10px 0;
}

.button-download-top {
  display: block;
  padding: 10px 0;
}

#section2 {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  background: url(../images/newsletter1.png) no-repeat center;
}
.newsletter, a{
  padding: 5px 10px 0px;
  text-align: center;
  color: #fff !important;
}
.button-newsletter {
  display: block;
  padding: 25px 10px 0;
}
#section3 {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  color: #666;
  background-color: #fff;
}
.centered {
  text-align: center;
}
.open-feature {
  margin: 10px 0;
  padding: 20px 0;
}
.img-feature {
  padding: 40px 0;
}
.desc-feature {
  padding: 40px 0;
}
#section4 {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  background: url(../images/newsletter2.png) no-repeat center;
}
#section5 {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  background-color: #2d2d2d;
}
.button-social .fa {
  padding: 30px;
  letter-spacing: 0px;
  color: #fff;
}
#bahagia {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px 10px 0px;
  background-color: #3d3d3d;
  color: #fff;
}
#section6 {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  background-color: white;
}
